In [2]:
import pandas as pd
import pyaging as pya

pya.data.download_example_data('GSE139307')

|-----> ðŸ—ï¸ Starting download_example_data function
|-----------> Data found in pyaging_data\GSE139307.pkl
|-----> ðŸŽ‰ Done! [0.0013s]

In [3]:
df = pd.read_pickle('pyaging_data/GSE139307.pkl')

df.head()

,dataset,tissue_type,age,gender,cg00000029,cg00000108,cg00000109,cg00000165,cg00000236,cg00000289,...,ch.X.93511680F,ch.X.938089F,ch.X.94051109R,ch.X.94260649R,ch.X.967194F,ch.X.97129969R,ch.X.97133160R,ch.X.97651759F,ch.X.97737721F,ch.X.98007042R
GSM4137709,GSE139307,sperm,84.0,M,0.084811,0.920696,0.856851,0.084567,0.838699,0.247273,...,0.061751,0.045942,0.037631,0.056455,0.249872,0.049022,0.085691,0.037435,0.077820,0.106234
GSM4137710,GSE139307,sperm,69.0,M,0.099626,0.919073,0.890024,0.115541,0.852584,0.198103,...,0.075077,0.041849,0.032573,0.089790,0.250245,0.079095,0.079756,0.046229,0.091256,0.120241
GSM4137711,GSE139307,sperm,69.0,M,0.117228,0.920276,0.894317,0.117127,0.839258,0.213410,...,0.068679,0.049515,0.058097,0.079919,0.299758,0.079305,0.089815,0.065364,0.086864,0.156005
GSM4137712,GSE139307,sperm,69.0,M,0.077096,0.910204,0.908400,0.073885,0.861615,0.163276,...,0.070091,0.033289,0.038836,0.108213,0.295428,0.050731,0.099943,0.047597,0.078480,0.107480
GSM4137713,GSE139307,sperm,67.0,M,0.063524,0.911608,0.884643,0.079877,0.864654,0.176169,...,0.082368,0.038411,0.048787,0.088631,0.316694,0.041873,0.079303,0.048823,0.089010,0.117903

In [4]:
adata = pya.pp.df_to_adata(df, metadata_cols=['gender', 'tissue_type', 'dataset'], imputer_strategy='knn')

|-----> ðŸ—ï¸ Starting df_to_adata function
|-----> âš™ï¸ Create anndata object started
|-----------? Dropping 1 columns with only NAs: ['cg01550828'], etc.
|-----> âš ï¸ Create anndata object finished [1.0255s]
|-----> âš™ï¸ Add metadata to anndata started
|-----------> Adding provided metadata to adata.obs
|-----> âœ… Add metadata to anndata finished [0.2061s]
|-----> âš™ï¸ Log data statistics started
|-----------> There are 37 observations
|-----------> There are 485512 features
|-----------> Total missing values: 489
|-----------> Percentage of missing values: 0.00%
|-----> âœ… Log data statistics finished [0.5794s]
|-----> âš™ï¸ Impute missing values started
|-----------> Imputing missing values using knn strategy
|-----> âœ… Impute missing values finished [12.7602s]
|-----> âš™ï¸ Add imputer strategy to adata.uns started
|-----> âœ… Add imputer strategy to adata.uns finished [0.0817s]
|-----> ðŸŽ‰ Done! [15.4667s]

In [5]:
adata

AnnData object with n_obs Ã— n_vars = 37 Ã— 485512
    obs: 'gender', 'tissue_type', 'dataset'
    var: 'percent_na'
    uns: 'imputer_strategy'
    layers: 'X_original', 'X_imputed'

In [6]:
pya.pred.predict_age(adata, ['Horvath2013', 'AltumAge'])

|-----> ðŸ—ï¸ Starting predict_age function
|-----> âš™ï¸ Set PyTorch device started
|-----------> Using device: cpu
|-----> âœ… Set PyTorch device finished [0.0010s]
|-----> ðŸ•’ Processing clock: horvath2013
|-----------> âš™ï¸ Load clock started
|-----------------> Downloading data to pyaging_data\horvath2013.pt
|-----------------> in progress: 100.0000%
|-----------> âœ… Load clock finished [0.3670s]
|-----------> âš™ï¸ Check features in adata started
|-----------------> All features are present in adata.var_names.
|-----------> âœ… Check features in adata finished [0.2402s]
|-----------> âš™ï¸ Predict ages with model started
|-----------------> There is no preprocessing necessary
|-----------------> The postprocessing method is anti_log_linear
|-----------------> in progress: 100.0000%
|-----------> âœ… Predict ages with model finished [0.0040s]
|-----------> âš™ï¸ Add predicted ages and clock metadata to adata started
|-----------> âœ… Add predicted ages and clock metadata to adata finished [0.0020s]
|-----> ðŸ•’ Processing clock: altumage
|-----------> âš™ï¸ Load clock started
|-----------------> Downloading data to pyaging_data\altumage.pt
|-----------------> in progress: 100.0000%
|-----------> âœ… Load clock finished [1.7204s]
|-----------> âš™ï¸ Check features in adata started
|-----------------> All features are present in adata.var_names.
|-----------> âœ… Check features in adata finished [0.2189s]
|-----------> âš™ï¸ Predict ages with model started
|-----------------> The preprocessing method is scale
|-----------------> There is no postprocessing necessary
|-----------------> in progress: 100.0000%
|-----------> âœ… Predict ages with model finished [0.0208s]
|-----------> âš™ï¸ Add predicted ages and clock metadata to adata started
|-----------> âœ… Add predicted ages and clock metadata to adata finished [0.0020s]
|-----> ðŸŽ‰ Done! [3.1700s]

In [7]:
adata.obs.head()

           gender tissue_type    dataset  horvath2013   altumage
GSM4137709      M       sperm  GSE139307    33.624776  37.007213
GSM4137710      M       sperm  GSE139307    28.829344  29.426899
GSM4137711      M       sperm  GSE139307    28.316545  22.798928
GSM4137712      M       sperm  GSE139307    24.850630  18.079173
GSM4137713      M       sperm  GSE139307    25.942111  20.071985

In [8]:
adata.obs.iloc[:, 3:].corr('pearson')

             horvath2013  altumage
horvath2013     1.000000  0.676242
altumage        0.676242  1.000000

In [9]:
adata

AnnData object with n_obs Ã— n_vars = 37 Ã— 485512
    obs: 'gender', 'tissue_type', 'dataset', 'horvath2013', 'altumage'
    var: 'percent_na'
    uns: 'imputer_strategy', 'horvath2013_percent_na', 'horvath2013_missing_features', 'horvath2013_metadata', 'altumage_percent_na', 'altumage_missing_features', 'altumage_metadata'
    layers: 'X_original', 'X_imputed'

In [10]:
adata.uns['horvath2013_metadata']

{'clock_name': 'horvath2013',
 'data_type': 'methylation',
 'species': 'Homo sapiens',
 'year': 2013,
 'approved_by_author': 'âŒ›',
 'citation': 'Horvath, Steve. "DNA methylation age of human tissues and cell types." Genome biology 14.10 (2013): 1-20.',
 'doi': 'https://doi.org/10.1186/gb-2013-14-10-r115',
 'notes': None,
 'research_only': None,
 'version': None}

In [11]:
adata.uns['altumage_metadata']

{'clock_name': 'altumage',
 'data_type': 'methylation',
 'species': 'Homo sapiens',
 'year': 2022,
 'approved_by_author': 'âœ…',
 'citation': 'de Lima Camillo, Lucas Paulo, Louis R. Lapierre, and Ritambhara Singh. "A pan-tissue DNA-methylation epigenetic clock based on deep learning." npj Aging 8.1 (2022): 4.',
 'doi': 'https://doi.org/10.1038/s41514-022-00085-y',
 'notes': None,
 'research_only': None,
 'version': None}